.topics-index .topic-filter a.active {border-bottom:2px solid #fbbd08;}
.navbar-default {border-top:4px solid #4fc08d;height:auto;min-height:54px;}
.share-link-site {font-size:12px;color:#828282;}
.topics-index .topic-list .infos .media-heading a:visited {color:#a2a2a2;}
.btn-circle {width:30px;height:30px;text-align:center;padding:6px 0;font-size:12px;line-height:1.42;border-radius:15px;}
.btn-shadow {background-color:#fff!important;border:none!important;box-shadow:0 0 5px #ccc;color:#909090;}
.translation-item .postion .index a {margin:0 5px;margin-top:13px;}
.topic-content-big-font {font-size:16px;}
.topic-content-big-font p {line-height:2.2;}
ul.breadcrumb a {color:inherit;}
.navbar-default .navbar-brand img {width:auto;height:28px;margin-top:-4px;}
.flex {display:flex;}
.flex1 {flex:1;}
.vcenter {align-items:center;@extend .flex;}
.hcenter {justify-content: center;@extend .flex;}
